.TrackingItem-module_dateLabel__3Vied {
    position: absolute;
    left: -280px;
    width: 190px;
    text-align: right;
    line-height: 16px !important;
    padding-left: 5px;
    top: 12px;
  }
  
  .TrackingItem-module_active__383Xc {
    font-size: 16px;
    font-weight: 600;
  }
  
  .TrackingItem-module_success__35RX1{
    color: #28b862 !important;
  }
  
  .TrackingItem-module_warning__1K3cs{
    color: #ffa600 !important;
  }
  
  .TrackingItem-module_info__2XUzw{
    color: #00b9ff !important;
  }
  
  .TrackingItem-module_hasTooltip__2v0Go {
    color: #966120;
    position: relative;
    padding-bottom: 3px;
    border-bottom: 1px dashed #966120;
  }

  //new line

  .Root-module_moneyTracker__1-iaL {
    position: relative;
  }
  
  .Root-module_moneyTracker__1-iaL ul {
    font-size: 14px;
    padding-left: 24px;
    margin-left: 0;
  }
  
  .Root-module_moneyTracker__1-iaL li {
    font-size: 14px;
    margin-left: 250px;
  }

  .Buttons-module_actionButton__3qx4x {
    margin-top: 14px !important;
    display: block !important;
  }