<div>
  <!-- ngIf: !$ctrl.fail && !$ctrl.loading && !ctrl.activity.loading -->
  <div ng-if="!$ctrl.fail &amp;&amp; !$ctrl.loading &amp;&amp; !ctrl.activity.loading" class="ng-scope">
    <tw-details-view-cta-dropdown
      activity="$ctrl.apiActivity"
      show-details-button="$ctrl.showDetailsButton"
      show-modal="$ctrl.showModal"
      update-activity-hidden-status="$ctrl.updateActivityHiddenStatus"
      class="ng-isolate-scope"
      ><!-- ngIf: $ctrl.showDetailsButton() || $ctrl.hasInvoice || $ctrl.canBeHidden -->
      <div
        class="details-cta-dropdown ng-scope"
        ng-if="$ctrl.showDetailsButton() || $ctrl.hasInvoice || $ctrl.canBeHidden"
      >
        <div class="dropdown">
          <button class="btn btn-sm btn-info dropdown-toggle p-x-1" data-toggle="dropdown" aria-expanded="false">
            <tw-more-icon size="16" class="ng-isolate-scope">
              <!-- ngIf: !$ctrl.filled --><span
                ng-switch="$ctrl.size"
                ng-if="!$ctrl.filled"
                class="tw-icon tw-icon-more ng-scope"
              >
                <!-- ngSwitchWhen: 24 -->
                <!-- ngSwitchDefault: --><svg
                  ng-switch-default=""
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="ng-scope"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M1.58 9.58a1.58 1.58 0 100-3.16 1.58 1.58 0 000 3.16zM16 8a1.58 1.58 0 11-3.16 0A1.58 1.58 0 0116 8zM8 9.58a1.58 1.58 0 100-3.16 1.58 1.58 0 000 3.16z"
                  ></path></svg
                ><!-- end ngSwitchWhen: --> </span
              ><!-- end ngIf: !$ctrl.filled -->
            </tw-more-icon>
          </button>
          <ul
            class="dropdown-menu dropdown-menu-overlay dropdown-menu-xs-right dropdown-menu-md"
            role="menu"
            auto-close="outsideClick"
          >
            <!-- ngIf: $ctrl.showDetailsButton() -->
            <li ng-if="$ctrl.showDetailsButton()" class="ng-scope">
              <a
                data-id="show-details-button"
                analytics-category="account"
                role="button"
                ng-click="$ctrl.showModal()"
                class="ng-binding"
              >
                <tw-document-icon size="16" class="ng-isolate-scope">
                  <!-- ngIf: !$ctrl.filled --><span
                    ng-switch="$ctrl.size"
                    ng-if="!$ctrl.filled"
                    class="tw-icon tw-icon-document ng-scope"
                  >
                    <!-- ngSwitchWhen: 24 -->
                    <!-- ngSwitchDefault: --><svg
                      ng-switch-default=""
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="ng-scope"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M2 .2h7.031L14 5.169V15.8H2V.2zm5.4 6.6h5v7.4H3.6V1.8h3.8v5zm4.369-1.6H9V2.431L11.769 5.2z"
                      ></path></svg
                    ><!-- end ngSwitchWhen: --> </span
                  ><!-- end ngIf: !$ctrl.filled -->
                </tw-document-icon>
                View transfer details
              </a>
            </li>
            <!-- end ngIf: $ctrl.showDetailsButton() -->
            <!-- ngIf: $ctrl.showDetailsButton() && ($ctrl.canBeHidden || $ctrl.hasInvoice) -->
            <!-- ngIf: $ctrl.hasInvoice -->
            <!-- ngIf: $ctrl.hasInvoice && $ctrl.canBeHidden -->
            <!-- ngIf: $ctrl.canBeHidden -->
          </ul>
        </div>
      </div>
      <!-- end ngIf: $ctrl.showDetailsButton() || $ctrl.hasInvoice || $ctrl.canBeHidden -->
    </tw-details-view-cta-dropdown>
    <div
      class="hidden-xl hidden-lg hidden-md m-b-3 m-t-2"
      ng-class="{'hidden-sm hidden-xs': $ctrl.showPendingPaymentInfo()}"
    >
      <h2 ng-bind-html="$ctrl.activity.title" class="ng-binding">To <strong>abdi farah</strong></h2>
      <p class="small m-b-0 text-max-width">
        <span class="list-group-item-text ng-binding">
          Sending
        </span>
      </p>
    </div>

    <!-- ngIf: $ctrl.showRefundedInfo() -->

    <!-- ngIf: $ctrl.showPendingPaymentInfo() -->

    <!-- ngIf: $ctrl.isMoneyTrackerDisplayed() -->
    <div ng-if="$ctrl.isMoneyTrackerDisplayed()" class="ng-scope">
      <tw-money-tracker-adapter
        resource-id="$ctrl.apiActivity.resource.id"
        activity-type="$ctrl.getActivityType()"
        is-own-account="$ctrl.isOwnAccount()"
        recipient-name="$ctrl.apiActivity.resource.recipient.name"
        on-load="$ctrl.moneyTrackerOnLoad"
        on-error="$ctrl.moneyTrackerErrorCallback"
        payment-method="$ctrl.transfer.payInMethodUsed.type"
        class="ng-isolate-scope"
        ><money-tracker
          resource-id="$ctrl.resourceId"
          activity-type="$ctrl.activityType"
          services="$ctrl.mtServices"
          events="$ctrl.mtEvents"
          language="$ctrl.lang"
          time-zone="$ctrl.timeZone"
          class="ng-isolate-scope"
          ><article class="Root-module_moneyTracker__1-iaL" data-version="0.7.1">
            <ul class="sequence sequence-lg sequence-animate sequence-success">
              <li class="">
                <div class="TrackingItem-module_dateLabel__3Vied"><span data-date="true">Today at 7:53 pm</span></div>
                <p class="">You set up your transfer</p>
              </li>
              <li class="">
                <div class="TrackingItem-module_dateLabel__3Vied"><span data-date="true">Today at 7:54 pm</span></div>
                <p class="">We received your AUD</p>
              </li>
              <li class="active">
                <p class="TrackingItem-module_active__383Xc TrackingItem-module_success__35RX1">
                  Your money's being processed
                </p>
                <span class="subtitle">We'll pay it out in the next <strong>2 days</strong>.</span>
              </li>
              <li class="">
                <div class="TrackingItem-module_dateLabel__3Vied"><span data-date="true">Monday 8:45 AM</span></div>
                <p class="">We pay out your AUD</p>
              </li>
              <li class="">
                <div class="TrackingItem-module_dateLabel__3Vied"><span data-date="true">Monday 11:00 AM</span></div>
                <p class="">You receive your AUD</p>
              </li>
            </ul>
          </article></money-tracker
        >

        <tw-need-help
          is-own-account="$ctrl.isOwnAccount"
          recipient-name="$ctrl.recipientName"
          estimated-delivery-time="$ctrl.estimatedDeliveryTime"
          resource-id="$ctrl.resourceId"
          modal-visibility="$ctrl.needHelpModalVisibility"
          hide-modal="$ctrl.hideNeedHelpModal()"
          class="ng-isolate-scope"
          ><tw-account-modal
            title="$ctrl.modalTitle"
            visibility="$ctrl.modalVisibility"
            on-close="$ctrl.hideModal()"
            class="ng-isolate-scope"
            ><!-- ngIf: $ctrl.visibility --></tw-account-modal
          ></tw-need-help
        ></tw-money-tracker-adapter
      >
      <div class="transfer-last-mile-message">
        <!-- ngIf: $ctrl.moneyTrackerResponse.transferDetails.trackingCode -->
        <!-- ngIf: ($ctrl.showLastMileMessage && $ctrl.isLastMileDialogFeatureEnabled && $ctrl.lastMileDialogTestVariant === 1) -->
      </div>
    </div>
    <!-- end ngIf: $ctrl.isMoneyTrackerDisplayed() -->

    <!-- ngIf: $ctrl.showPaymentDetails() -->
    <!-- ngIf: $ctrl.shouldShowHatLiveChat && !$ctrl.showLastMileMessage --><tw-hat-live-chat-button
      ng-if="$ctrl.shouldShowHatLiveChat &amp;&amp; !$ctrl.showLastMileMessage"
      tracking-attribute="$ctrl.hatLiveChatTrackingAttribute"
      source-currency="$ctrl.transfer.sourceCurrency"
      source-amount="$ctrl.transfer.sourceAmount"
      transfer-id="$ctrl.transfer.id"
      selected-profile="$ctrl.selectedProfile"
      class="ng-scope ng-isolate-scope"
    ></tw-hat-live-chat-button
    ><!-- end ngIf: $ctrl.shouldShowHatLiveChat && !$ctrl.showLastMileMessage -->
    <!-- ngIf: ::($ctrl.buttonsVisible()) -->
    <div class="btn-toolbar ng-scope" ng-if="::($ctrl.buttonsVisible())">
      <hr class="hidden-xs hidden-sm hidden-md" />
      <!-- ngIf: ::($ctrl.payForTransferVisible()) -->
      <!-- ngIf: ::($ctrl.alreadyPaidVisible()) -->

      <!-- ngIf: $ctrl.showVerificationCTA -->

      <!-- ngIf: ::($ctrl.transfer.hasIssues() && !$ctrl.isSelfServiceAvailable()) -->

      <!-- ngIf: ::($ctrl.transfer.hasIssues() && $ctrl.isSelfServiceAvailable() && $ctrl.issueCanBeFixed()) -->

      <!-- ngIf: ::($ctrl.canModifyTransfer && $ctrl.transfer.canBeClosed()) --><a
        ng-if="::($ctrl.canModifyTransfer &amp;&amp; $ctrl.transfer.canBeClosed())"
        class="btn btn-danger pull-md-right m-b-0 ng-binding ng-scope"
        ng-click="$ctrl.showCancellationModal($ctrl.activity)"
      >
        Cancel transfer </a
      ><!-- end ngIf: ::($ctrl.canModifyTransfer && $ctrl.transfer.canBeClosed()) -->
    </div>
    <!-- end ngIf: ::($ctrl.buttonsVisible()) -->
  </div>
  <!-- end ngIf: !$ctrl.fail && !$ctrl.loading && !ctrl.activity.loading -->
  <!-- ngIf: $ctrl.fail -->
  <!-- ngIf: $ctrl.activity.loading || $ctrl.loading -->
</div>
