@import "./custom";
@import "./modal.scss";
.loader--xl {
  margin-top: 69px;
}

form {
  width: 100%;
}

.addNew {
  padding-top: 16px;
}

.addSecretWord1 button {
  margin-left: -33px;
  margin-right: 13px;
}
