.tw-telephone {
  display: flex;
}
@media (min-width: 576px) {
  .tw-telephone .btn-group .dropdown-menu {
    min-width: 250px;
  }
}
.tw-telephone .tw-telephone__number-input {
  margin-left: 12px;
}
.tw-telephone__country-select {
  flex-basis: 120px;
  flex-shrink: 0;
}
.tw-telephone__number-input {
  flex: auto 1 1;
}
