.interactive {
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
}

.interactive .container-lg {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 15px 0;
  gap: 15px 0;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
}

.interactive .container-lg > div {
  min-width: 0;
}

.interactive .container-lg > div:last-child {
  padding: 0 20px;
}

.interacitve__options-wrapper {
  position: relative;
}

.interacitve__options-wrapper:after {
  display: none;
}

.interactive__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: relative;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0 20px 20px;
}

.interactive__options li {
  margin: 0 10px 0 0;
  overflow: hidden;
}

.interactive__options li {
  overflow: visible;
}

.interactive__options li:last-child {
  margin: 0;
  padding-right: 20px;
}

.interactive__options:after,
.interactive__options:before {
  content: "";
  position: absolute;
  display: none;
}

.interactive__options:before {
  /* background:-webkit-gradient(linear,left top,left bottom,from(rgba(233,237,241,.27)),to(#cfd7df)); */
  /* background:linear-gradient(rgba(233,237,241,.27),#cfd7df); */
  /* height:100%; */
  /* top:15px; */
  /* left:10px; */
  /* width:2px; */
}

.interactive__options:after {
  background-color: #cfd7df;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  position: absolute;
  bottom: -15px;
  left: 7px;
}

.interactive__options {
  padding: 0;
  overflow-x: visible;
}

.interactive__options:after,
.interactive__options:before {
}

.interactive__options:last-child {
  margin: 0;
  padding-right: 0;
}

.interactive-options__queue {
  position: relative;
  width: 100%;
  bottom: -32px;
  left: 0;
  padding: 0 6px;
  display: none;
}

.interactive-options__queue p {
  line-height: 1.6;
  color: #6b7c93;
  font-size: 15px;
}

.interactive-options__queue {
  display: block;
}

html[lang="ja"] .interactive-options__queue {
  bottom: -100px;
}

.interactive-options__title {
  display: block;
  padding: 0 20px;
  margin: 0 0 20px;
  width: 100%;
  max-width: 450px;
  position: relative;
  z-index: 1;
}

.interactive-options__title {
  display: none;
}

.interactive__option {
  cursor: pointer;
  display: block;
  position: relative;
  text-align: left;
  padding: 5px 10px 5px 27px;
  border-radius: 4px;
  border: 2px solid #e6ebf1;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.interactive__option {
  border: none;
}

@media (max-width: 500px) {
  .interactive__option.account-number {
    width: 140px;
  }
}
@media (min-width: 500px) {
  .interactive__option {
    padding: 10px 0 10px 40px;
  }
}

.interactive__option .interactive-option__text span {
  display: block;
  z-index: 5;
}

.interactive__option .interactive-option__text span:first-child {
  font: 600 17px Camphor;
  line-height: 1.9;
  color: #32325d;
}

.interactive__option .interactive-option__text span:last-child {
  font: 17px Camphor;
  line-height: 1.4;
  color: #525f7f;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  display: none;
}

.interactive__option .interactive-option__text span:last-child {
  display: block;
}

.interactive__option .interactive-option__icon {
  width: 22px;
  height: 22px;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25), 0 1px 3px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25), 0 1px 3px -1px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 9px;
  left: 10px;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  background-color: #fff;
  pointer-events: none;
  z-index: 5;
}

.interactive__option .interactive-option__icon {
  top: 15px;
  left: 0;
}

.interactive__option .interactive-option__icon span {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.interactive__option .interactive-option__icon span.plus svg {
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: scale(0.7) rotate(-90deg);
  transform: scale(0.7) rotate(-90deg);
  opacity: 0;
}

.interactive__option .interactive-option__icon span.check svg {
  -webkit-transform-origin: 3px bottom;
  transform-origin: 3px bottom;
}

.interactive__option .interactive-option__icon span svg {
  width: 100%;
  height: 100%;
}

.interactive__option .interactive-option__highlight {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background-color: #fff;
  background-color: rgba(66, 71, 112, 0.16);
  position: absolute;
  z-index: 0;
  left: 10px;
  top: 9px;
}

.interactive__option .interactive-option__highlight {
  top: 15px;
  left: 0;
}

.interactive__option:hover .interactive-option__text > span {
  opacity: 0.75;
}

.interactive__option--selected {
  background-color: #e6ebf1;
}

.interactive__option--selected {
  background-color: transparent;
}

.interactive__option--selected .interactive-option__text > span:first-child {
  color: #159570;
}

.interactive__invoice {
  background: #fff;
  padding: 40px 30px;
  text-align: center;
  position: relative;
  height: 620px;
  min-width: 473px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(26, 26, 67, 0.05),
    39px 62.5px 125px -25px rgba(50, 50, 93, 0.5),
    23.4px 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 5px 0 rgba(26, 26, 67, 0.05),
    39px 62.5px 125px -25px rgba(50, 50, 93, 0.5),
    23.4px 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  max-width: 473px;
  margin: 0 auto;
  left: 50%;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  --regular-section-height: 45px;
  --extended-section-height: 163px;
  --header-height: 24px;
}

@media screen and (min-width: 523px) {
  .interactive__invoice {
    -webkit-transform-origin: center center;
    transform-origin: center center;
    left: 0;
  }
}

.interactive__invoice {
  padding: 70px 30px 40px;
  margin-top: -10px;
  -webkit-transform: scale(1) perspective(1040px) rotateY(-11deg) rotateX(2deg) rotate(2deg);
  transform: scale(1) perspective(1040px) rotateY(-11deg) rotateX(2deg) rotate(2deg);
  margin: 0;
}

.interactive-invoice__title {
  font: 500 24px Camphor;
  color: #525f7f;
  line-height: 2;
}

.interactive-invoice__date-wrapper {
  position: relative;
  width: 100%;
}

.interactive-invoice__meta {
  font: 400 13px Camphor;
  color: #8898aa;
}

.interactive-invoice__meta:first-child,
.interactive-invoice__meta:last-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.interactive-invoice__meta:last-child {
  opacity: 0;
  -webkit-transform: translateX(20%);
  transform: translateX(20%);
}

.interactive-invoice__meta:nth-child(2) {
  visibility: hidden;
}

.interactive-invoice__logo {
  background-color: #fff;
  width: 45px;
  height: auto;
  margin: 0 auto;
}

.interactive-invoice__table {
  margin: 40px 0 0;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #6b7c93;
  position: relative;
}

.interactive-invoice__row,
.interactive-invoice__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
}

.interactive-invoice__row {
  text-align: left;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font: 13px Camphor;
}

.interactive-invoice__row span {
  display: block;
}

.interactive-invoice__row span:first-child {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.interactive-invoice__row span:nth-child(2),
.interactive-invoice__row span:nth-child(3),
.interactive-invoice__row span:nth-child(4) {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
  margin-left: 1em;
}

.interactive-invoice__row span:last-of-type {
  text-align: right;
  white-space: nowrap;
}

.interactive-invoice__row.interactive-invoice__row--indent {
  padding: 9px 0;
}

.interactive-invoice__row.interactive-invoice__row--indent span:first-child {
  margin-left: 15px;
}

.interactive-invoice__section {
  height: var(--regular-section-height);
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  will-change: transform, opacity;
}

.interactive-invoice__section .interactive-invoice__row {
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.interactive-invoice__section:after {
  content: "";
  background-color: #f6f9fc;
  -webkit-transform-origin: center left;
  transform-origin: center left;
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.interactive-invoice__section#one-time {
  -webkit-transform: translateY(var(--header-height));
  transform: translateY(var(--header-height));
}

.interactive-invoice__section#recurring {
  -webkit-transform: translateY(
    calc(var(--header-height) + 1 * var(--regular-section-height))
  );
  transform: translateY(calc(var(--header-height) + 1 * var(--regular-section-height)));
  -webkit-transform: translateY(
    calc(var(--header-height) + (1 * var(--regular-section-height)))
  );
  transform: translateY(calc(var(--header-height) + (1 * var(--regular-section-height))));
}

.interactive-invoice__section#usage {
  -webkit-transform: translateY(
    calc(var(--header-height) + 2 * var(--regular-section-height))
  );
  transform: translateY(calc(var(--header-height) + 2 * var(--regular-section-height)));
  -webkit-transform: translateY(
    calc(var(--header-height) + (2 * var(--regular-section-height)))
  );
  transform: translateY(calc(var(--header-height) + (2 * var(--regular-section-height))));
}

.interactive-invoice__section#tiered {
  -webkit-transform: translateY(
    calc(var(--header-height) + 3 * var(--regular-section-height))
  );
  transform: translateY(calc(var(--header-height) + 3 * var(--regular-section-height)));
  -webkit-transform: translateY(
    calc(var(--header-height) + (3 * var(--regular-section-height)))
  );
  transform: translateY(calc(var(--header-height) + (3 * var(--regular-section-height))));
}

.interactive-invoice__section#promotions {
  -webkit-transform: translateY(
    calc(
      var(--header-height) + 3 * var(--regular-section-height) + var(--extended-section-height)
    )
  );
  transform: translateY(
    calc(
      var(--header-height) + 3 * var(--regular-section-height) + var(--extended-section-height)
    )
  );
  -webkit-transform: translateY(
    calc(
      var(--header-height) + (3 * var(--regular-section-height)) +
        var(--extended-section-height)
    )
  );
  transform: translateY(
    calc(
      var(--header-height) + (3 * var(--regular-section-height)) +
        var(--extended-section-height)
    )
  );
}

.interactive-invoice__section#promotions:after {
  display: none;
}

.interactive-invoice__section--tiered {
  height: var(--extended-section-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 15px 0 6px;
  border-bottom: 1px solid #f6f9fc;
}

.interactive-invoice__row--thick-border {
  border-bottom: 1px solid #e6ebf1;
}

.interactive-invoice__row--bold {
  font: 600 13px Camphor;
}

.interactive-invoice__row--top {
  text-transform: uppercase;
  font: 600 11px Camphor;
  padding-bottom: 10px;
}

.interactive-invoice__row--subheader {
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

.interactive-invoice__row--subheader span:nth-child(2) {
  margin-left: calc(1em + 15px);
}

.interactive-invoice__row--subheader,
.interactive-invoice__row--top,
.interactive-invoice__row--total {
  color: #32325d;
}

.interactive-invoice__row--subheader span,
.interactive-invoice__row--top span,
.interactive-invoice__row--total span {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
