.globalNav .colorize {
  color: #6b7c93;
}

.globalNav .colorize.active,
.globalNav .colorize:hover {
  color: #32325d;
}

.productNav .colorize {
  color: #6772e5;
}

.productNav .colorize.active,
.productNav .colorize:hover {
  color: #32325d;
}

.productNav .icon svg {
  width: 30px;
  height: 30px;
}

.globalFooterCTA {
  border-bottom: none;
  padding-bottom: 100px;
}

.globalFooterCards {
  position: relative;
}

.globalFooterCards:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
  background: #f6f9fc;
}

.globalFooterNav {
  background: #f6f9fc;
}

.stripe.outline {
  background: none !important;
  box-shadow: inset 0 0 0 2px #e6ebf1;
  z-index: -1;
  margin: 0 -2px;
}

@media (min-width: 670px) {
  .stripe.outline {
    margin: 0;
  }
}

.stripe.outline.slate2 {
  box-shadow: inset 0 0 0 2px #424770;
}

.stripe.shift-up {
  transform: translateY(-2px);
}

.stripe.shift-down {
  transform: translateY(2px);
}

.stripe.slate8 {
  background: #e6ebf1;
}

.stripe.slate2 {
  background: #525f7f;
}

.stripe.blue1 {
  background: #32325d;
}

.stripe.blue4 {
  background: #6772e5;
}

.stripe.yellow6 {
  background: #fcd669;
}

.stripe.blue6 {
  background: #87bbfd;
}

.floating-cards {
  perspective: 1500px;
  position: relative;
  align-items: center;
}

.floating-cards > div {
  position: absolute;
  flex-shrink: 0;
  border-radius: 8px;
  overflow: hidden;
}

.floating-cards .shine {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

.feature-table {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  margin: 0 -10px;
  border-radius: 8px;
  background: #e6ebf1;
  text-align: center;
}

@media (min-width: 420px) {
  .feature-table {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 670px) {
  .feature-table {
    grid-template-columns: repeat(4, 1fr);
  }
}

.feature-table .column:first-child .header,
.feature-table .column:first-child .header::after {
  background-color: #43458b;
}

.feature-table .column:nth-child(2) .header,
.feature-table .column:nth-child(2) .header:after {
  background-color: #555abf;
}

.feature-table .column:nth-child(3) .header,
.feature-table .column:nth-child(3) .header:after {
  background-color: #6772e5;
}

.feature-table .column:nth-child(4) .header,
.feature-table .column:nth-child(4) .header:after {
  background-color: #7795f8;
}

.feature-table .header {
  border-radius: 4px;
  box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25), 0 3px 7px -3px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  position: relative;
}

.feature-table .header a {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  color: #fff;
  transition: color 0.15s;
}

@media (min-width: 880px) {
  .feature-table .header a {
    padding: 0 40px;
  }
}

.feature-table .header a:hover {
  color: #c4f0ff;
}

.feature-table .header h3 {
  line-height: 22px;
}

.feature-table .column:not(:last-child) .header:after {
  content: "";
  position: absolute;
  z-index: 10;
  right: -6px;
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  border-radius: 3px;
}

.feature-table .column:not(:first-child) .header:before {
  content: "";
  position: absolute;
  left: -5px;
  top: calc(50% - 16px);
  width: 15px;
  height: 32px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNSAzMiI+PHBhdGggZD0iTTAgMGwxNC4yOSAxNC4yOGMuOTUuOTUuOTUgMi40OSAwIDMuNDNMMCAzMlYweiIgZmlsbD0iI2U2ZWJmMSIvPjwvc3ZnPg==);
}

.feature-table .content {
  border-radius: 4px;
  box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25), 0 1px 3px -1px rgba(0, 0, 0, 0.3);
  background: #fff;
  padding: 4px 0 12px;
  font-size: 15px;
  line-height: 22px;
  color: #6772e5;
}

.feature-table .content .group-header {
  padding-top: 8px;
  color: #32325d;
}

.feature-table .content .group-header:not(:first-child) {
  border-top: 2px solid #f6f9fc;
  margin-top: 8px;
}

.feature-table .content .group-header h4 {
  font-size: 17px;
  font-weight: 500;
}

.feature-table .content a {
  display: block;
  padding: 4px 10px;
  color: inherit;
  transition: color 0.15s;
}

.feature-table .content a:hover {
  color: #32325d;
}

.feature-table .content.compressed li:not(.group-header) a {
  padding: 2px 10px;
}

.feature-table.dark {
  background: #2d2d54;
}

.feature-table.dark .header {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.11), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.feature-table.dark .content {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.04);
  background: #3a3c66;
  color: #aab7c4;
}

.feature-table.dark .content .group-header {
  border-color: #32325d;
  color: #fff;
}

.feature-table.dark .content a:hover {
  color: #fff;
}

.feature-table.dark .column:not(:first-child) .header:before {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNSAzMiI+PHBhdGggZD0iTTAgMGwxNC4yOSAxNC4yOGMuOTUuOTUuOTUgMi40OSAwIDMuNDNMMCAzMlYweiIgZmlsbD0iIzJkMmQ1NCIvPjwvc3ZnPg==);
}

.announcement {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: calc(100% + 40px);
  width: calc(100% + 20px * 2);
  padding: 10px 20px;
  margin: 0 0 30px -20px;
  margin: 0 0 30px calc(20px * -1);
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;

  text-decoration: none;
  background: rgba(0, 0, 140, 0.08);
}

.keyboard-navigation .announcement:focus {
  -webkit-box-shadow: 0 0 0 1.5px hsla(0, 0%, 100%, 0.75);
  box-shadow: 0 0 0 1.5px hsla(0, 0%, 100%, 0.75);
}

.announcement .message {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 12px;
}

@media (min-width: 670px) {
  @supports (width: auto) {
    .announcement {
      width: auto;
    }
  }

  .announcement {
    line-height: 26px;
    padding: 0 12px 0 5px;
    border-radius: 15px;
  }

  .announcement .message {
    margin: 0 7px 0 6px;
  }
}

.announcement .new-pill {
  padding: 0 6px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  background: #24b47e;
  text-transform: uppercase;
  border-radius: 10px;
}

.announcement:after {
  content: "\27A2";
  font: normal 16px StripeIcons;
  position: relative;
  bottom: 1px;
}
main {
  position: relative;
  overflow: hidden;
  display: block;
}

main a {
  outline: none;
}

main h2[class^="common-Uppercase"] {
  color: #24b47e;
}

.globalNav .colorize {
  color: #fff;
}

.globalNav .colorize.active,
.globalNav .colorize:hover {
  color: hsla(0, 0%, 100%, 0.5);
}

main header {
  position: relative;
}

#stripes,
#stripes span {
  position: absolute;
}

#stripes {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: skewY(-12deg);
  transform: skewY(-12deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
}

#stripes span {
  height: 40px;
}

#stripes :first-child {
  width: 50%;
  left: 50%;
  top: 40px;
  background: #4c29ff;
}

#stripes :nth-child(2) {
  width: 14%;
  right: 0;
  bottom: 40px;
  background: #2be7ff;
}

#stripes :nth-child(3) {
  width: 25%;
  bottom: 0;
  right: 0;
  background: #a1ffc8;
}

@media (min-width: 670px) {
  #stripes span {
    height: 150px;
  }

  #stripes :first-child {
    top: 0;
    background: #4750ff;
  }

  #stripes :nth-child(2) {
    width: 16.66667%;
    width: calc(100% / 6);
    top: 300px;
    top: calc(150px * 2);
    bottom: auto;
    background: #0dcfff;
  }

  #stripes :nth-child(3) {
    width: 33.33333%;
    width: calc(100% / 3);
    right: auto;
    background: #11bdff;
  }
}

@media (min-width: 880px) {
  #stripes span {
    height: 190px;
  }

  #stripes :first-child {
    width: 33.33333%;
    width: calc(100% / 3);
    left: -16.66666%;
    left: calc(calc(calc(100% / 3) / 2) * -1);
    background: #53f;
  }

  #stripes :nth-child(2) {
    width: 33.33333%;
    width: calc(100% / 3);
    top: 0;
    left: 16.66666%;
    left: calc(calc(100% / 3) / 2);
    right: auto;
    background: #4553ff;
  }

  #stripes :nth-child(3) {
    width: 33.33333%;
    width: calc(100% / 3);
    left: 49.99999%;
    left: calc(calc(calc(100% / 3) / 2) + calc(100% / 3));
    bottom: auto;
    background: #4f40ff;
  }

  #stripes :nth-child(4) {
    width: 33.33333%;
    width: calc(100% / 3);
    top: 380px;
    top: calc(190px * 2);
    right: -16.66666%;
    right: calc(calc(calc(100% / 3) / 2) * -1);
    background: #25ddf5;
  }

  #stripes :nth-child(5) {
    width: 33.33333%;
    width: calc(100% / 3);
    bottom: 0;
    background: #1fa2ff;
  }
}

#intro {
  position: relative;
}

@media (min-width: 670px) {
  #intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 600px;
    height: calc(150px * 4);
  }
}

@media (min-width: 880px) {
  #intro {
    height: 760px;
    height: calc(190px * 4);
  }
}

#intro .container-lg {
  padding-top: 70px;
  padding-bottom: 100px;
}

@media (min-width: 670px) {
  #intro .container-lg {
    margin-top: calc(-85px - 2vw);
    padding-top: 0;
    padding-bottom: 0;
  }
}

#intro h1 {
  font-size: 32px;
  font-weight: 400;
  color: #fff;
}

html[lang="fr"] #intro h1 {
  max-width: 550px;
}

html[lang="it"] #intro h1 {
  max-width: 500px;
}

@media (min-width: 880px) {
  #intro h1 {
    font-size: 40px;
  }
}

#intro p {
  max-width: 500px;
  margin-top: 20px;
  color: #d9fcff;
}

@media (min-width: 670px) {
  #intro p {
    max-width: 60%;
  }
}

@media (min-width: 880px) {
  #intro p {
    max-width: 50%;
  }
}

#intro ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

@media (min-width: 670px) {
  #intro ul {
    margin-top: 65px;
  }
}

#intro li:first-child a {
  margin-right: 23px;
  color: #fff;
  background: #3ecf8e;
  text-shadow: 0 1px 3px rgba(36, 180, 126, 0.4);
}

#intro li:first-child svg {
  position: relative;
  top: 1px;
  margin-right: 5px;
}

#intro li:last-child {
  display: none;
}

@media (min-width: 670px) {
  #intro li:last-child {
    display: block;
  }

  #intro li:last-child a {
    color: #7795f8;
  }
}

#app-illustrations {
  pointer-events: none;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1287px;
  left: 50%;
  margin-left: -644px;
  -webkit-transform: scale(0.5) rotate(-12deg) translateX(50px);
  transform: scale(0.5) rotate(-12deg) translateX(50px);
  -webkit-transform-origin: 50% 20%;
  transform-origin: 50% 20%;
}

#app-illustrations.hidden-preload {
  visibility: hidden;
}

#app-illustrations div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 38px;
  background: #fff;
  -webkit-box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, 0.25),
    0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
  box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, 0.25),
    0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
}

#app-illustrations .tablet-landscape {
  width: 512px;
  height: 352px;
  margin: 115px 50px 0;
}

#app-illustrations .phone-big {
  display: none;
}

#app-illustrations .phone-small {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  width: 225px;
  height: 467px;
}

#app-illustrations .tablet-portrait {
  width: 450px;
  height: 675px;
  margin-top: 115px;
}

@media (min-width: 670px) {
  #app-illustrations {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 512px;
    margin-left: -50px;
    top: 215px;
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }

  #app-illustrations.hidden-preload {
    visibility: visible;
  }

  #app-illustrations [class^="tablet"] {
    margin: 0;
  }

  #app-illustrations .tablet-landscape {
    width: 512px;
    height: 352px;
  }

  #app-illustrations .phone-small {
    width: 225px;
    height: 467px;
    margin: 0 0 50px 176px;
  }

  #app-illustrations .tablet-portrait {
    display: none;
  }
}

@media (min-width: 880px) {
  #app-illustrations {
    width: 829px;
    margin-left: -10px;
    top: 20px;
  }

  #app-illustrations .tablet-landscape {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-right: 50px;
  }

  #app-illustrations .phone-big {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 267px;
    height: 553px;
  }

  #app-illustrations .phone-small {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    margin: 50px 50px 0 0;
  }

  #app-illustrations .tablet-portrait {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 450px;
    height: 675px;
    margin-top: 50px;
  }
}

#primary {
  overflow: hidden;
}

#primary .heading-icon {
  margin: 0 auto;
}

#primary .heading-icon,
#secondary .heading-icon {
  display: block;
  width: 66px;
  height: 66px;
  margin-bottom: 30px;
}

#complete-toolkit .common-UppercaseTitle {
  text-align: center;
}

#complete-toolkit .common-Link--arrow {
  margin-bottom: 280px;
}

@media (min-width: 670px) {
  #complete-toolkit .common-UppercaseTitle {
    margin: 0 25%;
  }

  #complete-toolkit .common-BodyText {
    width: 50%;
    text-align: right;
  }

  #complete-toolkit .common-Link--arrow {
    margin-bottom: 80px;
  }
}

@media (min-width: 880px) {
  #complete-toolkit {
    position: relative;
    bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 580px;
  }

  #complete-toolkit > * {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }

  #complete-toolkit .common-UppercaseTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%;
    margin: 0 0 0 33px;
    text-align: right;
  }

  #complete-toolkit .heading-icon {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin: 0 0 0 25px;
  }

  #complete-toolkit .common-UppercaseTitle span {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  #complete-toolkit .common-Link--arrow {
    margin-bottom: 0;
  }
}

#complete-toolkit .common-BodyText {
  padding-top: 35px;
}

#complete-toolkit .common-Link {
  display: block;
}

@media (min-width: 670px) {
  #complete-toolkit .common-Link {
    margin-top: 35px;
    border-top: 2px solid #f1f7fb;
  }
}

#developers-first {
  position: relative;
  padding-top: 110px;
}

#developers-first:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 180%;
  top: 0;
  -webkit-transform: skewY(-12deg);
  transform: skewY(-12deg);
  background: #f6f9fc;
}

#developers-first .common-UppercaseTitle {
  text-align: center;
  position: relative;
}

#developers-first p {
  margin: 30px auto;
  padding: 0 20px;
}

@media (min-width: 670px) {
  #developers-first p {
    max-width: 730px;
    margin-bottom: 50px;
    text-align: center;
  }
}

#programming-languages {
  position: relative;
  height: 66px;
  margin-bottom: -66px;
}

#programming-languages img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -12px 0 0 -12px;
  will-change: transform, opacity;
}

#editor {
  position: relative;
  margin: 20px 0;
}

#editor,
#prism {
  border-radius: 4px;
}

#prism {
  background: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
  box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
  -webkit-transition: -webkit-box-shadow 0.15s ease-in-out 0.15s;
  transition: -webkit-box-shadow 0.15s ease-in-out 0.15s;
  transition: box-shadow 0.15s ease-in-out 0.15s;
  transition: box-shadow 0.15s ease-in-out 0.15s, -webkit-box-shadow 0.15s ease-in-out 0.15s;
}

#editor.runkit #prism {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#runkit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: -2px -5px -6px;
}

#runkit iframe {
  position: fixed;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

#editor.runkit #runkit iframe {
  position: inherit;
  opacity: 1;
}

#editor pre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#editor pre > * {
  padding: 12px;
  font-size: 13px;
  line-height: 1.5;
}

#editor .custom-line-numbers {
  text-align: right;
  background: #f2feef;
  color: #5dc79e;
  border-radius: 4px 0 0 4px;
}

#editor code {
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#notebook nav select {
  width: 100%;
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
  font-size: 17px;
  color: #24b47e;
  border-radius: 2px;
  padding: 7px 12px;
  border: none;
  outline: none;
  background: #fff url(https://storage.cloud.google.com/amx-assets/assets/img/v3/home/code-snippets/select-arrows.svg) no-repeat 97% 50%;
  background-size: 9px 14px;
  -webkit-box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25), 0 3px 7px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25), 0 3px 7px -3px rgba(0, 0, 0, 0.3);
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#notebook nav > :not(select) {
  display: none;
}

#runkit-warning {
  height: 0;
}

#runkit-warning.visible {
  height: auto;
}

#runkit-warning p {
  opacity: 0;
  max-width: inherit;
  margin: 20px 0;
  padding: 4px 9px;
  line-height: 22px;
  color: #fa755a;
  text-align: left;
  font-size: 13px;
  font-weight: 500;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
  box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
}

#runkit-warning p:empty {
  margin: 0;
  padding: 0;
}

#runkit-warning.visible p {
  opacity: 1;
}

#runkit-warning a {
  color: #fa755a;
  text-decoration: underline;
}

@media (min-width: 670px) {
  #notebook {
    position: relative;
    padding-bottom: 65px;
  }

  #editor {
    min-height: 285px;
    margin: 0 245px 0 0;
  }

  #notebook p.warning {
    margin-right: 245px;
  }

  #notebook nav select {
    display: none;
  }

  #notebook nav > :not(select) {
    display: block;
  }

  #notebook nav {
    position: absolute;
    right: 20px;
    width: 210px;
  }

  #notebook nav a,
  #notebook nav button {
    height: 34px;
    -webkit-tap-highlight-color: transparent;
  }

  #notebook nav button {
    position: relative;
    width: 100%;
    padding-left: 32px;
    font-family: Camphor, Open Sans, Segoe UI, sans-serif;
    text-align: left;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }

  #notebook nav button svg {
    position: absolute;
    width: 13px;
    height: 14px;
    top: 10px;
    left: 10px;
    pointer-events: none;
  }

  #notebook nav button path {
    -webkit-transition: fill 0.3s;
    transition: fill 0.3s;
  }

  #notebook nav .selected {
    color: #24b47e;
  }

  #notebook nav .selected path {
    fill: #24b47e;
  }

  #notebook nav button:not(.selected):hover path {
    fill: #32325d;
  }

  #notebook nav a {
    display: block;
    margin-top: 15px;
    padding-top: 15px;
    padding-left: 10px;
    border-top: 2px solid #e8f0f5;
  }

  #api-method-selection {
    position: absolute;
    width: 100%;
    height: 34px;
    background: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
      -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    will-change: transform;
  }
}

#always-improving,
#global-scale {
  padding: 20px 0;
  border: 1px solid #f6f9fc;
}

#always-improving {
  border-width: 0 0 1px;
}

#global-scale {
  border-width: 1px 0 0;
}

@media (min-width: 670px) {
  #secondary .cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  #always-improving {
    padding-right: 20px;
    border-width: 0 1px 0 0;
  }

  #always-improving,
  #global-scale {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  #global-scale {
    padding-left: 20px;
    border-width: 0 0 0 1px;
  }
}

@media (min-width: 1040px) {
  #always-improving {
    padding: 70px 70px 70px 0;
  }

  #global-scale {
    padding: 70px 0 70px 70px;
  }
}

#secondary .heading-icon {
  margin-bottom: 25px;
}

#secondary .common-BodyText {
  margin: 15px 0 18px;
}

#customer-logos {
  border-top: 2px solid #f6f9fc;
}

#customer-logos a {
  display: block;
  padding-top: 20px;
  padding-bottom: 10px;
}

#customer-logos .common-Button {
  position: absolute;
  z-index: 1;
  left: 50%;
  -webkit-transform: translate(-50%, 5px) scale(0.95);
  transform: translate(-50%, 5px) scale(0.95);
  opacity: 0;
  -webkit-transition: 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

#customer-logos ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#customer-logos li {
  margin: 10px;
}

@media (min-width: 880px) {
  #customer-logos a {
    padding-top: 70px;
    padding-bottom: 65px;
  }

  #customer-logos ul {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    will-change: transform;
    -webkit-filter: blur(0);
    filter: blur(0);
  }

  #customer-logos a:focus .common-Button,
  #customer-logos a:hover .common-Button {
    opacity: 1;
    -webkit-transform: translate(-50%, -7px);
    transform: translate(-50%, -7px);
  }

  #customer-logos a:focus ul,
  #customer-logos a:hover ul {
    opacity: 0.7;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }

  #customer-logos li {
    margin: 0;
  }
}

#customer-logos img {
  height: 20px;
  vertical-align: middle;
}

#customer-logos [src$="kickstarter.svg"] {
  height: 16px;
}

#customer-logos [src$="instacart.svg"],
#customer-logos [src$="slack.svg"] {
  height: 22px;
}

#customer-logos [src$="lyft.svg"] {
  position: relative;
  top: 2px;
  height: 24px;
}

#customer-logos [src$="shopify.svg"] {
  position: relative;
  bottom: 1px;
  height: 24px;
}

#customer-logos [src$="opentable.svg"] {
  height: 24px;
}

#customer-logos [src$="bookingcom.svg"] {
  position: relative;
  height: 18px;
  top: 2px;
}

#customer-logos [src$="deliveroo.svg"] {
  height: 40px;
}

#customer-logos [src$="heetch.svg"] {
  height: 26px;
}

#customer-logos [src$="elcorteingles.svg"] {
  height: 45px;
}

#customer-logos [src$="chope.png"] {
  height: 40px;
}

#customer-logos [src$="hipvan.png"] {
  height: 30px;
}

#customer-logos [src$="croove.svg"] {
  height: 26px;
}

#customer-logos [src$="sistrix.svg"] {
  height: 28px;
}

#customer-logos [src$="book-a-tiger.svg"] {
  height: 26px;
}

#customer-logos [src$="smarthr.svg"] {
  height: 18px;
}

#customer-logos [src$="freee.png"] {
  height: 30px;
}

#customer-logos [src$="dahmakan.svg"] {
  height: 18px;
}

#customer-logos [src$="easystore.svg"] {
  height: 28px;
}

#customer-logos [src$="flowerchimp.svg"] {
  position: relative;
  height: 40px;
  top: -12px;
}

#customer-logos [src$="socar.svg"] {
  height: 14px;
}

#customer-logos [src$="fashionvalet.svg"] {
  height: 13px;
}

#customer-logos [src$="cornershop.svg"] {
  height: 17px;
}

#customer-logos [src$="homely.svg"] {
  height: 12px;
}

#customer-logos [src$="ingredienta.svg"] {
  position: relative;
  top: -11px;
  height: 32px;
}

#customer-logos [src$="lavanderi.png"] {
  position: relative;
  top: 2px;
  height: 24px;
}

#customer-logos [src$="mienvio.svg"] {
  position: relative;
  top: -4px;
  height: 20px;
}

#customer-logos [src$="rappi.png"] {
  position: relative;
  top: 4px;
  height: 32px;
}

#customer-logos [src$="trybu.svg"] {
  height: 16px;
}

#customer-logos [src$="unitips.png"] {
  position: relative;
  top: 2px;
  height: 28px;
}

#customer-logos [src$="urbvan.png"] {
  position: relative;
  top: 3px;
}

#customer-logos [src$="getaround.svg"] {
  position: relative;
  top: 3px;
  height: 24px;
}

.announcement {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: calc(100% + 40px);
  width: calc(100% + 20px * 2);
  padding: 10px 20px;
  margin: 0 0 30px -20px;
  margin: 0 0 30px calc(20px * -1);
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 140, 0.08);
}

.keyboard-navigation .announcement:focus {
  -webkit-box-shadow: 0 0 0 1.5px hsla(0, 0%, 100%, 0.75);
  box-shadow: 0 0 0 1.5px hsla(0, 0%, 100%, 0.75);
}

.announcement .message {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #525f7f;
  margin: 0 12px;
}

@media (min-width: 670px) {
  @supports (width: auto) {
    .announcement {
      width: auto;
    }
  }

  .announcement {
    line-height: 26px;
    padding: 0 12px 0 5px;
    border-radius: 15px;
  }

  .announcement .message {
    margin: 0 7px 0 6px;
  }
}

.announcement .new-pill {
  padding: 0 6px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  background: #24b47e;
  text-transform: uppercase;
  border-radius: 10px;
}

.announcement:after {
  content: "\27A2";
  font: normal 16px StripeIcons;
  position: relative;
  bottom: 1px;
}

@media (min-width: 670px) {
  .landing.container-lg {
    padding-top: 29px !important;
  }
}
